<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tdbb.Properties.Settings.TDB_AnketConnectionString"
            connectionString="Data Source=172.16.32.47;Initial Catalog=&quot;TDB Anket&quot;;User ID=sa;Password=Khulan;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>